
.form-inline{
  margin: 10px; 
  padding-left: 20px;
  padding-top: 20px;
}

.infoTest{
  margin: 10px; 
  padding-left: 20px; 
  padding-top: 10px;
  padding-bottom: 10px;

}

.form-group{
  padding:10px;
}