<form data-state='loginForm' class="form-inline">
  <div class="form-group">
    <input id="loginEmail" class="form-control" type="text" placeholder="email">
  </div>
  <div class="form-group">
    <input id="loginPassword" class="form-control" type="password" placeholder="password">
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>

<span data-state='error' style="color: red;">bad login, try again</span>

<span data-state='loading'>loading...</span>

<a data-state='login' href='#'>login</a>

<a data-state='logout' href='#'>logout</a>
