<!--<div class="row marketing">-->
  <!--<div id="contentContainerLeft">-->
    <!--<div id="nowPlayingTitle">-->
      <!--{{episode.podcast}} &#35;{{episode.number}}-->
    <!--</div>-->
    <!--<div id="nowPlayingSubTitle">-->
      <!--{{episode.title}}-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="row marketing">
<div podly-vimeo id="contentContainerLeft">
  <div id="nowPlayingTitle">
    {{episode.podcast}} &#35;{{episode.number}}
  </div>
  <div id="nowPlayingSubTitle">
      {{episode.title}}
  </div>

  <div ng-include="'/partials/player.html'" onload="loadMedia()">
  </div>
</div>
</div>

